{
        "agent" :{
                "metrics_collection_interval": 1,
                "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log"
        },
        "metrics": {
                {% if inventory_hostname in groups['bastion_role'] %}
                "namespace" : "Bastion",
                {% elif inventory_hostname in groups['app_role'] %}
                "namespace" : "App",
                {% endif %}
                "metrics_collected": {
                        "mem": {
                                "metrics_collection_interval": 1,
                                "measurement": [
                                        "mem_used_percent",
                                         "mem_available",
                                         "mem_available_percent",
                                         "mem_free",
                                         "mem_total",
                                         "mem_used"
                                ]
                        },
                        "disk": {
                                "metrics_collection_interval": 1,
                                "resources": [
                                        "*"
                                ],
                                "measurement": [
                                        "total",
                                        "used"
                                ],
                                "ignore_file_system_types": [
                                        "sysfs", 
                                        "devtmpfs",
                                        "squashfs",
                                        "tmpfs",
                                        "overlay",
                                        "nfs4"
                                ]
                        },
                        "cpu": {
                                "metrics_collection_interval": 1,
                                "measurement": [
                                        "cpu_usage_system",
                                        "cpu_usage_user",
                                        "cpu_usage_idle",
                                        "cpu_usage_iowait"
                                ]
                        },
                        "net": {
                                "metrics_collection_interval": 1,
                                "resources": [
                                        "eth0"
                                ],
                                "measurement": [
                                        "bytes_sent",
                                        "bytes_recv"
                                ]
                        }
                },
                "append_dimensions": {
                        "ImageId": "${aws:ImageId}",
                        "InstanceId": "${aws:InstanceId}",
                        "InstanceType": "${aws:InstanceType}",
                        "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
                }
        },
        "logs": {
                "logs_collected": {
                        "files": {
                                "collect_list": [
                                        {% if inventory_hostname in groups['bastion_role'] %}
                                        {
                                                "file_path": "/var/log/messages",
                                                "log_group_name": "Bastion-general-Log",
                                                "log_stream_name": "Bastion-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },
                                        {
                                                "file_path": "{{ sys_log }}",
                                                "log_group_name": "Bastion-Sys-Log",
                                                "log_stream_name": "Bastion-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },    
                                        {
                                                "file_path": "{{ auth_log }}",
                                                "log_group_name": "Bastion-Auth-Log",
                                                "log_stream_name": "Bastion-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },                                  
                                        {
                                                "file_path": "/var/log/yum.log",
                                                "log_group_name": "Bastion-yum-Log",
                                                "log_stream_name": "Bastion-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"                                               
                                        }
                                        {% elif inventory_hostname in groups['app_role'] %}
                                        {
                                                "file_path": "{{ app_nginx_access_log }}",
                                                "log_group_name": "App-nginx-access-Log",
                                                "log_stream_name": "App-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },
                                        {
                                                "file_path": "{{ sys_log }}",
                                                "log_group_name": "App-Sys-Log",
                                                "log_stream_name": "App-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },    
                                        {
                                                "file_path": "{{ auth_log }}",
                                                "log_group_name": "Appn-Auth-Log",
                                                "log_stream_name": "App-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        }, 
                                        {
                                                "file_path": "{{ app_nginx_error_log }}",
                                                "log_group_name": "App-nginx-error-Log",
                                                "log_stream_name": "App-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        },
                                        {
                                                "file_path": "{{ app_wordpress_debug_log }}",
                                                "log_group_name": "App-wordpress-Log",
                                                "log_stream_name": "App-{hostname}",
                                                "timestamp_format": "%H: %M: %S%y%b%-d"
                                        }
                                        {% endif %}
                                ]
                        }
                }
        }
}
